<!DOCTYPE html>
<html>
    <body>
<div class="inner-layer">
    <div class="container">
        <div class="col-md-6 offset-md-3">
            <div class="login-form">
                <form (ngSubmit) = "onSubmit()"  class=" border p-4">
                    <h4 class="mb-5">Add Prescription Details Here!</h4>
                    <div class="row">
                        

                        <div class="mb-3 col-md-12">
                            <label>Patient Id<span class="text-danger">*</span></label>
                            <input #sname="ngModel" required  type="text" name="medname" class="form-control"  [(ngModel)] = "prescription.patientid" >
                            <div *ngIf="sname.touched && sname.invalid" class="alert alert-primary" role="alert">
                                <p>*Please fill this field.. </p>
                            </div>
                        </div>
                        
                        <div class="mb-3 col-md-12">
                            <label>Doctor Id<span class="text-danger">*</span></label>
                            <input #id="ngModel" required  type="text" name="company" class="form-control" [(ngModel)] = "prescription.drid">
                            <div *ngIf="id.touched && id.invalid" class="alert alert-primary">
                                <p *ngIf="id.errors?.['required']">*Please fill this field</p>
                            </div>
                        </div>

                        <div class="mb-3 col-md-12">
                            <label>Doctor Name<span class="text-danger">*</span></label>
                            <input #des="ngModel" required  type="text" name="price" class="form-control" [(ngModel)] = "prescription.drname">
                            <div *ngIf="des.touched && des.invalid" class="alert alert-primary" role="alert">
                                <p>*Please fill this field.. </p>
                            </div>
                        </div>

                      

                        <div class="mb-3 col-md-12">
                            <label>Drug Name<span class="text-danger">*</span></label>
                            <input #drug="ngModel" required  type="text" name="drug" class="form-control" [(ngModel)] = "prescription.drug">
                            <div *ngIf="drug.touched && drug.invalid" class="alert alert-primary" role="alert">
                                <p>*Please fill this field.. </p>
                            </div>
                        </div>

                        <div class="mb-3 col-md-12">
                            <label>Strength<span class="text-danger">*</span></label>
                            <input #str="ngModel" required type="text" name="strength" class="form-control" [(ngModel)] = "prescription.strength">
                            <div *ngIf="str.touched && str.invalid" class="alert alert-primary" role="alert">
                                <p *ngIf="str.errors?.['required']">*Please fill this field.. </p>
                            </div>
                        </div>

                        <div class="mb-3 col-md-12">
                            <label>Dose<span class="text-danger">*</span></label>
                            <input #dose="ngModel" required type="text" name="dose" class="form-control" [(ngModel)] = "prescription.dose">
                            <div *ngIf="dose.touched && dose.invalid" class="alert alert-primary" role="alert">
                                <p *ngIf="dose.errors?.['required']">*Please fill this field.. </p>
                            </div>
                        </div>

                        <div class="mb-3 col-md-12">
                            <label>Duration<span class="text-danger">*</span></label>
                            <input #dur="ngModel" required type="text" name="duration" class="form-control" [(ngModel)] = "prescription.duration">
                            <div *ngIf="dur.touched && dur.invalid" class="alert alert-primary" role="alert">
                                <p *ngIf="dur.errors?.['required']">*Please fill this field.. </p>
                            </div>
                        </div>

                        <div class="mb-3 col-md-12">
                            <label>Date<span class="text-danger">*</span></label>
                            <input #date="ngModel" required type="date" name="date" class="form-control" [(ngModel)] = "prescription.date">
                            <div *ngIf="date.touched && date.invalid" class="alert alert-primary" role="alert">
                                <p *ngIf="date.errors?.['required']">*Please fill this field.. </p>
                            </div>
                        </div>



                        <div class="col-md-12">
                            <button class="btn btn-primary float-left"><a routerLink="/doctor">BACK </a></button>
                            <button class="btn btn-primary float-end" type="submit">ADD PRESCRIPTION</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>
