<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>


    </head>
    <body data-spy="scroll" data-target="#navbarResponsive">


      <div class="inner-layer">
        <div class="container">
            <div class="col-12 but text-center">
                <button type="button" class="btn btn-light btn-lg">Login As</button>
            </div>
            <div class="icons col-12 g-2 text-center">
                <a class="btn btn-light btn-lg"  routerLink="/login" role="button">Staff</a>
                <a class="btn btn-light btn-lg"  routerLink="/patientlogin" role="button">Patient</a>
            </div>
        </div>
      </div>
        
        
                  
    </body>
</html>
