<div id="home">
    <nav class="navbar  navbar-expand-md navbar-light fixed-top" style="background-color:skyblue;">
      <a class="navbar-brand">
          <img src="/assets/images/hlog.png" ></a>
          <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navbarResponsive" class="navbar-collapse collapse">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a class="nav-link" routerLink="">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="aboutus">About Us</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="services">Our Services</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="specialist">our specialist</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="users">LogIn</a>
                  </li>
 
                  <li class="nav-item">
                      <a class="nav-link" routerLink="contact">Contact Us</a>
                  </li>
              </ul>
            </div>
  </nav>
  </div>
