
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div id="aboutus" class="offset"> 
        <div class="col-12 text-center">
          <h3 class="heading">About Us</h3>
          <div class="heading-underline"></div>
        </div>
        <div class="container bg-light">
          <div class="row">
            <div class="col">
              <strong><i class="fa fa-paper-plane fa-2x"></i>&nbsp;&nbsp;Our Mission</strong>
              <p>We are commited to the care and improvement of human life, recognition of this commitment we strive to deliver high-quality, cost-effective care to the communities we serve.</p>
            </div>
            <div class="col">
              <strong><i class="fa fa-low-vision fa-2x"></i>&nbsp;&nbsp;Our Vision</strong>
              <p>
                • To provide Hope, Care and Cure.<br><br>
                • To serve with a patient's first motto and to work towards a patient- centered care.<br><br>
                • To develop, share and apply new knowledge and technology in the delivery of patient care through research and technology integration.<br>
                
                </p>
            </div>
            <div class="col">
              <strong><i class="fa fa-clock-o fa-2x"></i>&nbsp;&nbsp;24 Hours Support</strong>
              <p> We offer a courtesy shuttle to patients one who need help getting to their scheduled is appointment.</p>
            </div>
          </div>
        </div>
  
      </div> 