<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="inner-layer">
        <div class="wrapper">
            <div class="sidebar">
                <ul>
                    <li><a routerLink="/addstaff">ADD STAFF</a></li>
                    <li><a routerLink="/viewstaff">VIEW STAFF</a></li>
                    <li><a routerLink="/addmedicine">ADD MEDICINE</a></li>
                    <li><a routerLink="/viewmedicine" >VIEW MEDICINE</a></li>
                    <li><a routerLink="/adddept">ADD DEPARTMENT</a></li>
                    <li><a routerLink="/viewdept">VIEW DEPARTMENT</a></li>
                    <li><a routerLink=""><i class="fa fa-sign-out fa-2xl"></i>LOGOUT</a></li>
                </ul> 
            </div>
        </div>
    </div>
    <h1>Welcome {{roll}} {{uname}}</h1>
    <div>
    </div>
</body>