


<div id="services" class="offset">
    <div class="col-12 text-center">
      <h3 class="heading">Our Services</h3>
      <div class="heading-underline"></div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/gyna.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Gynacology</h5>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/cardio.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cardiology</h5>
            
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/derma.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dermatology</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/optho.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Opthamology</h5>
          </div>
        </div>
      </div><div class="col">
        <div class="card h-100">
          <img src="assets/images/surgeon.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">General Surgeon</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="assets/images/ear.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ear / Nose / Throat</h5>
          </div>
        </div>
      </div>
    </div>
  </div>


