#services .heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1.9rem;
    padding-top: 6rem;
}
#specialist .heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1.9rem;
    padding-top: 6rem;
}
.heading-underline{
width: 3rem;
height: .2rem;
background-color:skyblue;
margin: 0 auto 2rem;
}


.card-body{
    background:rgba(135, 206, 235, 0.7)!important;
    padding-left:.5rem;
    padding-right:.5rem;  
    margin:.5rem;
    height:230px;
    width:530px;      
}





*{
    color:black;
}

.content{
    margin:3.5rem;
    position:absolute;
    top: 150px;
}
.card-body .para{
    color:#06022b;
    font-family:Copperplate;
    position:relative;
    left:1px;
    font-size:24px;

}
.card-body #para1{
   
    font-family:Lucida Handwriting;
    position:relative;
    left:55px;
    font-size:20px;

}
.card-body #para2{
    font-family:Lucida Handwriting;
    position:relative;
    left:50px;
    font-size:20px;

}
.card-body #para3{
    font-family:Lucida Handwriting;
    position:relative;
    left:50px;
    font-size:20px;

}
