
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
  <div class="carousel-inner">
      <div class="carousel-item active" style="background-image:url(/assets/images/slider1.jpg);">
          <div class="carousel-caption ">
              <h1>We care for your health</h1>
              <p>Your health is our top priority with comprehensive, affordable
                medical health care.</p>
              <a class="btn btn-outline-light btn-lg" routerLink="patientlogin">MAKE AN APPOINTMENT</a>
            </div>
      </div>
      <div class="carousel-item" style="background-image:url(/assets/images/slider2.jpg);">
        <div class="carousel-caption ">
          <h1>Welcome To Multi Speciality Hospital</h1>
          <p>The Best Multi Speciality Hospital In India</p>
          <a class="btn btn-outline-light btn-lg" routerLink="aboutus">More About Us</a>
        </div>
      </div>
      <div class="carousel-item" style="background-image:url(/assets/images/slider3.jpg);">
        <div class="carousel-caption ">
          <h1>Qualified Staff With Expertise In Services</h1>
          <p>Collective Team Efforts Leads To Success</p>
          <a class="btn btn-outline-light btn-lg" routerLink="specialist">Meet Our Specialists</a>
        </div>
      </div>
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>